@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $gray;
  background: $navy;
  font-family: 'Poppins', sans-serif;
  border: 16px solid $navy;
}

.main {
  background-color: $white;
}

.intro__img {
  max-width: 128px;
  border-radius: 50% 50% 50% 0;
}

.project__img {
  max-width: 48px;
}