@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext");
@import "modules/intro.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $navy;
  border: 16px solid $navy;
  color: $gray;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1184px;
}

.main {
  background-color: $white;
}
